button{
  background-color:#36bcb5;
}

.navbar-default {
  background-color: #36bcb5;
  border: 2px solid $navbar-default-border;
  font-family: "DistritoTec";

}

.navbar-brand{
  font-size: 28px;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 22px;
  background-color:$navbar-default-bg;

  .btn btn-danger {
    a {
      color:#36bcb5;
      background-color: #000;
    }
  }
}

.nav-link{
  font-size: 16px;
  color: #fff
}


