#side-bar {
	border: none;
	background-color: transparent;

	.card-header {
		text-transform: uppercase;
    font-weight: 800;
    background-color: inherit;
	}

	ul {
		list-style: none;
		padding: 0px;

		.greyline {
			width: 100%;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		}

		li {
			    border-left: 2px solid #00B5F2;
			    margin: 0.5em 0em;
			    padding-left: 2%;

			    .date-block {
			    	h3 {
		    	    margin-bottom: -7%;
			    	}
			    }

			    .fa {
	    	    margin-top: 10px;
			    }

			}
	}
}